<!DOCTYPE html>
<html>
<head>
    <title>Ninja - {{toCapitalize page}}</title>
    <meta name="description" content="Ninja EncryptedChat permit to join public rooms and talk about your passions and hobbies">
  	<meta name="author" content="?">
  	<link rel="icon" href="{{favicon}}" />
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<link rel="stylesheet" href="static/css/sheet.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="overflow-hidden">
	<a href="/chat" class="d-flex fixed-top align-items-center bg-black text-decoration-none py-1 px-3">
		<span class="text-uppercase font-weight-bold max-spacing small mr-2">Ninja</span>
		<hr class="bg-white w-100" />
		<img src="static/logo-white-raw.png" width="13" alt="" class="d-inline-block ml-2">
	</a>
	<section class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left vh-100 pt-4">
			<div class="col-md-2 col-lg-2 bg-black d-flex flex-column justify-content-between sidebar-offcanvas h-100 overflow-auto px-3 py-4">
				<div>
					<div class="d-flex justify-content-between align-items-center">
						<p class="text-uppercase font-weight-bold">Channels Overview</p>
						<i class="create"></i>
					</div>
					{{#if channels}}
		            <ul class="nav flex-column sticky-top mt-3" id="sidebar">
		              	{{#each channels}}
		              	<li>{{this}}</li>
		              	{{/each}}
		            </ul>
		            {{else}}
		            <small class="text-muted">You seems haven't joined any channels...</small>
		            {{/if}}
		        </div>
		        <div class="d-flex justify-content-between">
		        	<form action="/admin" method="get">
			        	<button class="btn text-light">
								<span class="material-icons">admin_panel_settings</span>
						</button>
					</form>
					<div class="d-flex">
			        	<form action="/disconnect" method="post">
		            		<button class="btn text-light" type="submit">
								<span class="material-icons">no_meeting_room</span>
							</button>
						</form>
						<button class="btn text-light">
								<span class="material-icons">settings</span>
						</button>
					</div>
		        </div>
	        </div>
	        {{#if alert}} 
	        <div class="position-absolute alert alert-danger alert-dismissible fade show rounded-0 mx-3" role="alert">
	        	{{ alert }}
	        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
	        </div>
	        {{/if}}
	        {{{body}}}
		</div>
	</section>
</body>
</html>